<h1 align='center'><font color='brown'> Task_5
<h5 align='center'><font color='brown'> (Cleaning & Git)

# **<font color='red'>Cleaning Part**

# [**Dataset**](https://drive.google.com/file/d/1lOxdsLjcMKk7u0abP7efKCnwiosBq0lc/view?usp=sharing)

In [ ]:
# import your libraries here
import pandas as pd

In [ ]:
# load the dataset & show first 5 rows
df = pd.read_csv('Bank_Customer.csv')
df.head()

    age           job  marital  education  balance duration
0  58.0    management  married   tertiary     2143      261
1  44.0    technician   single  secondary       29      151
2  33.0  entrepreneur  married  secondary        2       76
3  47.0   blue-collar  married    unknown     1506       92
4  33.0       unknown   single    unknown        1      198

In [ ]:
# have an overview about the data using .info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1000 non-null   float64
 1   job        1090 non-null   object
 2   marital    1090 non-null   object
 3   education  1090 non-null   object
 4   balance    1090 non-null   int64
 5   duration   1090 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 51.2+ KB

In [ ]:
# summarize what is wrong with your data !! (hint: Missing_values)

# <font color='blue'>Dealing with missing values:
>## **hint**: Impute *NaN* in **`age`** column

>##### **BONUS**: solve it with two imputing ways.

In [ ]:
from numpy import nan
# First Methodology:

df = df[df['age'] != nan]

In [ ]:
# Second Methodology

df = df.dropna()

# <font color='blue'>Run **`df.isna().sum()`** to make sure no more missing values.
>## **Hint**: Don't Forget those hidden ones.
use `.unique()` or `.value_counts()` for help.

In [ ]:
df.isna().sum()

age          0
job          0
marital      0
education    0
balance      0
duration     0
dtype: int64

In [ ]:
df.value_counts(dropna = False)

age   job          marital  education  balance  duration
22.0  blue-collar  single   secondary   0       179         1
47.0  blue-collar  married  unknown     733     268         1
46.0  technician   married  tertiary    841     158         1
      unemployed   married  secondary  -125     23          1
47.0  admin.       married  primary     192     47          1
                                                           ..
38.0  admin.       married  secondary   8       125         1
                                        46      195         1
                                        3047    285         1
                   single   secondary   100     786         1
61.0  retired      married  secondary   195     179         1
Length: 1000, dtype: int64

# <font color='blue'>Check for duplicates if exist.

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

# <font color='blue'>Go on your work by cleaning the **`duration`** column.

In [ ]:
df.replace(('zero', 0), inplace = True)

age          None
job          None
marital      None
education    None
balance      None
duration     None
dtype: object

In [ ]:
df ['duration'] = df ['duration'].astype('int')

# <font color='blue'>Show your data in the given form below:
> ## **Note:** **`age`** represents the average_age
> ## **Note:** **`duration`** represents the max_duration
_______________

![2.PNG]()

In [ ]:
df2 = df[['job','age','duration']]

# <font color='blue'>Show the table of the previous question after **sorting** it by **`duration`**:

In [ ]:
df2.sort_values(by=['duration'])

             job   age  duration
287   technician  50.0         2
284  blue-collar  30.0         5
272   technician  57.0        10
538  blue-collar  34.0        13
57   blue-collar  47.0        13
..           ...   ...       ...
37    technician  53.0      1666
474       admin.  34.0      1677
59      services  46.0      1778
600  blue-collar  38.0      1906
152   management  40.0      2033

[1000 rows x 3 columns]

# <font color='blue'>Use **`qcut`** method on **`age`** column to create a new column called **`age_divided`** that divides the customers into two categories (**`young_customers`** and **`old_customers`**):

In [ ]:
df['age_divided'] = pd.qcut(df.age, q=2, labels=['young_customers', 'old_customers'])

In [ ]:
df

,age,job,marital,education,balance,duration,age_divided
0,58.0,management,married,tertiary,2143,261,old_customers
1,44.0,technician,single,secondary,29,151,old_customers
2,33.0,entrepreneur,married,secondary,2,76,young_customers
3,47.0,blue-collar,married,unknown,1506,92,old_customers
4,33.0,unknown,single,unknown,1,198,young_customers
...,...,...,...,...,...,...,...
995,37.0,blue-collar,married,primary,310,474,young_customers
996,34.0,admin.,married,secondary,475,559,young_customers
997,43.0,blue-collar,married,primary,61,261,old_customers
998,49.0,services,married,secondary,1377,1101,old_customers
999,33.0,technician,single,secondary,56,236,young_customers

# <font color='blue'>Show the **average_age** and **max_duration** of the divided customers like this:
>## **hint:** Use **`groupby`** method:
![3.PNG]()

In [ ]:
df3 = df.groupby('age_divided').agg({'age':'mean', 'duration':'max'})[['age','duration']].reset_index()

In [ ]:
df3

       age_divided        age  duration
0  young_customers  35.403738      2033
1    old_customers  50.840860      1778

# **<font color='red'>Git Part**


# 1. What is Git?


> a) A nickname for GitHub

> b) A remote repository platform

> c) A programming language

> d) A version control system

In [ ]:
# d

# Why we use the Version Contol System :)

In [ ]:
#to keep track of every modification to the code in a special kind of database


# 2. Which command should you use to initialize a new Git repository?


> a) git bash

> b) git install

> c) git init

> d) git start

In [ ]:
# c


# 3. After you initialize a new Git repository and create a file named **`git-quiz.html`** , which of the following commands will **NOT** work if issued?


> a) **`git add`** git-quiz.html

> b) **`git status`**

> c) **`git add .`**

> d) **`git commit -m`** "git quiz web file added"

In [ ]:
# c

# **<font color='red'>Problems**

[**Problem_1**](https://codeforces.com/problemset/problem/282/A)

In [ ]:
n = int(input())
x = 0
for i in range(n):
    s = input()
    if "++" in s:
        x = x + 1
    elif "--" in s:
        x = x - 1
print(x)

[**Problem_2**](https://codeforces.com/group/T3p02rhrmb/contest/324959/problem/G)

In [ ]:
n = int(input())
a = 0
x = 0
for i in range(n):
    a = a + 1
    x = x + a
print(x)

# Use git to upload this notebook on Gitub and put the link:

In [ ]:
https://github.com/moatazebellah/mo.git